<div class="container py-5">
  <h1 class="bc-analitics__h1">Персона</h1>

  <div class="js-article-list">
    <%= render SharedView, "_article_block.html", assigns %>
  </div>
</div>

<%= SharedView.load_more_button(@meta) %>
