<%= render "_post.html", assigns %>

<%= render "_banner.html", banner: Banner.rand("article") %>

<%= render BloomchainWeb.SharedView, "_recomendation_block.html", articles: @recomendations, conn: @conn %>
