<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <%= for item <- @tags do %>
    <url>
      <loc><%= tag_url(@conn, :show, item.slug) %></loc>
      <lastmod><%= format_date(item.updated_at) %></lastmod>
      <changefreq>hourly</changefreq>
      <priority>0.7</priority>
    </url>
  <% end %>
</urlset>
