<div class="row">
  <%= for date <- @articles |> Map.keys() |> Enum.sort_by(&{&1.year, &1.month, &1.day}) |> Enum.reverse do %>
    <div class="col-lg-12">
      <%= if (@previous_date != to_string(date)) do %>
        <%= header_tag(date) %>
      <% end %>

      <%= for item <- @articles[date] do %>
        <%= item_tag(item) %>
      <% end %>
    </div>
  <% end %>
</div>
