<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title(assigns) %></title>
    <meta name="keywords" content="<%= meta(:keywords, assigns) %>" >
    <meta name="description" content="<%= meta(:description, assigns) %>" >
    <meta name="theme-color" content="#2f358f">
    <meta name="application-name" content="BloomChain">
    <meta name="apple-mobile-web-app-title" content="BloomChain">
    <meta name="twitter:site" content="@BloomChainNews">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= meta(:twitter_title, assigns) %>">
    <meta name="twitter:description" content="<%= meta(:twitter_description, assigns) %>">
    <meta name="twitter:image" content="<%= meta(:twitter_image, assigns) %>">
    <meta property="og:site_name" content="Bloomсhain">
    <meta property="og:type" content="<%= meta(:og_type, assigns) %>" >
    <meta property="og:title" content="<%= meta(:og_title, assigns) %>">
    <meta property="og:description" content="<%= meta(:og_description, assigns) %>" >
    <meta property="og:image" content="<%= meta(:og_image, assigns) %>" >
    <meta name="format-detection" content="telephone=no">
    <link rel="alternate" type="application/rss+xml" title="Bloomchain Лента" href="<%= rss_link(@conn) %>" />
    <link rel="icon" type="image/png" href='<%= static_path(@conn, "/customer/favicon.png") %>'>

    <%= render "_critical_css.html", conn: @conn %>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel= "preconnect" href="https://min-api.cryptocompare.com" crossorigin />
    <link rel= "preconnect" href="https://mc.yandex.ru" crossorigin />
    <link rel= "preconnect" href="https://www.googletagmanager.com" crossorigin />
    <link rel= "preconnect" href="http://cdn.embedly.com" crossorigin />
    <link rel= "preconnect" href="https://api-cdn.embed.ly" crossorigin />
    <link rel= "preconnect" href="https://syndication.twitter.com" crossorigin />
    <link rel= "preconnect" href="https://platform.twitter.com" crossorigin />
    <link rel= "preconnect" href="https://s3.amazonaws.com" crossorigin />
    <link rel= "preconnect" href="https://unpkg.com/" crossorigin />
    <link rel= "dns-prefetch" href="http://r.analytic.press" crossorigin />
    <link rel= "dns-prefetch" href="http://d.analytic.press" crossorigin />
    <link rel="preload" href='<%= static_path(@conn, "/customer/bundle.css") %>' as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="script" href='<%= static_path(@conn, "/customer/bundle.js") %>'></link>
    <noscript><link rel="stylesheet" href="styles.css"></noscript>
  </head>
  <body class="bg-light">
    <%= render "_banner.html", banner: Banner.rand("header") %>
    <%= render "_header.html", conn: @conn %>

    <main class="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= render "_footer.html", conn: @conn %>
    <%= render "_privacy_police_dialog.html", conn: @conn %>

    <script src="https://unpkg.com/quicklink@2.0.0/dist/quicklink.umd.js" defer></script>
    <script>
      window.addEventListener('load', () =>{
        quicklink.listen({
          timeout: 6000,
        });
      });
    </script>
    <script defer src='<%= static_path(@conn, "/customer/metrics.js") %>'></script>
    <script>
      var script = document.createElement("script");
      script.src = '<%= static_path(@conn, "/customer/bundle.js") %>';
      script.defer = true;
      document.body.appendChild(script);
    </script>
    <script type="text/javascript">
    setTimeout(function() {
      !function(e,t,m,n,a,c,i){e.ym=e.ym||function(){(e.ym.a=e.ym.a||[]).push(arguments)},e.ym.l=1*new Date,c=t.createElement(m),i=t.getElementsByTagName(m)[0],c.async=1,c.src="https://mc.yandex.ru/metrika/tag.js",i.parentNode.insertBefore(c,i)}(window,document,"script"),ym(46112067,"init",{clickmap:!0}),ym(52762162,"init",{clickmap:!0});
    }, 6000)
    </script>
    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-107257260-1"></script>
    <script>
    setTimeout(function() {
      function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-107257260-1");
    }, 6000)
    </script>
  </body>
</html>
