<item>
  <title>
      <![CDATA[<%= parse_markdown(@post.title) %>]]>
  </title>
  <link><%= page_url(@conn, :index) <> @post.type <> "/" <> @post.slug %></link>
  <guid><%= page_url(@conn, :index) <> @post.type <> "/" <> @post.slug %></guid>
  <description>
    <![CDATA[<%= post_description(@post) %>]]>
  </description>
  <pubDate><%= format_date(@post.published_at) %></pubDate>
</item>
