<div class="container py-4">
  <div class="row">
    <div class="col-md-12 mt-md-0">
      <%= for item <- @data do %>
        <p>
          <%=
            image_tag(item, class: "size-full")
            |> link(to: File.url({item.pdf.file, item.pdf}), target: "_blank")
          %>
        </p>
      <% end %>
    </div>
  </div>
</div>
