<%= main_article_tag(List.first(@articles)) %>

<div class="mt-4"></div>

<%= main_article_tag(List.first(@articles |> tl()), :without_img) %>

<%= for [first | [second | _]] <- @articles |> tl() |> tl() |> Enum.chunk_every(2) do %>
  <hr class="bc-article__separator mx-0 my-3">
  <div class="row">
    <%= article_tag(first) %>
    <%= article_tag(second) %>
  </div>
<% end %>
